<%- include('./partials/header.ejs') %>
    <div id="view">
        <h1><%=oneArt.name %></h1>
        <div id="img_container">
            <img class='main_img' src=<%=oneArt.img %>>
        </div>
        <div id="view_container">
            <div id="buy">
                <h2>Author: <%=oneArt.authorName%></h2>
                <h2>Description: <%=oneArt.description%></h2>
            </div>
            <div>
                <form action="/rankAfa/<%=oneArt._id.toString()%>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE"/>
                </form>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>